:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #5BC044 1.84%, #F2DF35 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #5BC044 -13.86%, #F2DF35 99.55%);
  
  --color-bg: #000F02;
  --color-footer : #011F03;
  --color-blog: #042c54;
  --color-text: #F9F9AC;
  --color-subtext: #F2DF35;
}